*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

/* Global Variable bane ":" use karva thi ,and ahiya apde color add karela che  */
/* apde jetala pan color use karva na cele apde ahiya koi naam thi lakhi didha atle apde tene access kari shakiye che easy j thi vare vare color shodhva na javu pade   */
:root {

    --dk-lightskyblue: hsl(193, 72%, 74%);
    
    --dk-violet: hsl(268, 60%, 37%);
    --lt-Yellow-orange: hsl(38, 88%, 59%);
    /* --lt-violet: hsl(268, 47%, 21%); */
    --lt-violet2: hsl(281, 78%, 67%);
    /* --lt-violet2: hsl(281, 89%, 26%); */
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
  
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    /* --pl-white: hsl(152, 90%, 32%); */
    --pl-darkgolden: hsl(64, 75%, 16%);
    /* --pl-white: hsl(0, 0%, 100%); */
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 84%, 56%);
    --dk-text: hsla(291, 96%, 42%, 0.893);
    /* --dk-text: hsl(198, 20%, 13%); */
    
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(231deg, rgb(121, 178, 108) 0%, rgb(187, 230, 159) 50%, rgb(155, 68, 196) 100%);
    /* background: linear-gradient(231deg, rgba(22, 6, 40, 1) 0%, rgba(52, 28, 79, 1) 50%, rgba(88, 7, 125, 1) 100%); */
}

.container {
    width: 90%;
    max-width: 450px;
}

h1 {
    
    color: var(--pl-darkgolden);
    opacity: 0.75;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container {
    /* position relative atle kari che kem k apde ana upar Copy ni image nakhishu and PASSWORD lakhelu dekhadva nu che  */
    position: relative;
    background-color: var(--dk-lightskyblue);
    border-radius: 1rem;
    /* bottom border banavi */
    border-bottom: 0.35rem solid var(--lt-violet2);
    margin: 1rem 0;
    padding-top: 0.35rem;
}


.display {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem;
    border:none;
  }
  
  /* Display ma j password lakhelu dekhay che j placeholder ma che mate apde tene update karvu che te mate niche mujab karvu padshe  */
.display::placeholder {
    /* absolute position atle karavi kem k te apdi display ni upar ni baju dekhadvu che [atle k apde overlap karaviye chiye] */
    position:absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height:30px;
    color:var(--vb-yellow);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button {
    /* overlapping mate absolute position kariyu  */
    position:absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%);

}

.input-container{
    width:100%;
    background-color: var(--dk-lightskyblue);
    border-radius: 1rem;
    padding: 2rem;
    border-bottom: 0.35rem solid var(--lt-violet2);
}


.length-container {
    display: flex;
    justify-content: space-between;
    /* vartically cernter ma lavva mate apde alignitems center kari  */
    align-items: center;
}

/* MMMMIIIMMMMPPPPP */
/* ahiya aa j Length Container che tema 2 vastu che (1) Paragraph che j ma lakheku ave che l Password Length and (2) Paragraph che j ma Password ni Length ni Size Lakheli ave che.
 have ahiya 2 paragraph che to kaya Paragraph ne [p] lakhishu CSS ma to Style thashe??....to aa vastu dur karva mate apde Child ni Method use kari have aaa Length Container ma j <p> pahela ave che te Child no.1 and j pachi bijo <p> ave che te Child no.2 thashe and tene niche mujab lakhi shakashe   */
/* apde ahiya ID k class api ne pan access kari j shakta hata pan aa kaik navu che j apde add kariyu try karva mate   */
.length-container p:nth-child(1) {
    color:var(--pl-darkgolden);
    font-size: 1.5rem;
}


.length-container p:nth-child(2) {
    color:var(--vb-yellow);
    font-size: 1.5rem;
}


.strength-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

/* ahiya apde Paragraph ne Strength Container class thi access kari che   */
.strength-container p{
    color:var(--pl-darkgolden);
    font-size: 1.5rem;
}

.indicator {
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;
}

.generateButton {
    width: 100%;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--vb-yellow);
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 1px;
    color: var(--vb-yellow);
    font-weight: 600;
    font-size: 1.25rem;
  }

.check {
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}

.check input{
    /*  apda browser ni j default Style che ...atle ke default rite aa browser Style karshe koi element ne ,te default Style apanane nathi joiti te mate apde aa "appearance:none" kariyyu che  */
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--vb-cyan);
    cursor: pointer;
    /* apde 'tick' ne aa input tag upar over laap karavva nu che  */
    position: relative;
    border-radius: 0.35rem;
}

/* tick kariye tyare nu Style */
.check input:checked{
    background-color: var(--vb-cyan);
}

/* CSS ni content Property mujab spde Before and After no use kari koi pan Image tag no use kari ne tick ni image ne tickkaravi shakiye chiye ....pana pde tana thi pan easy way no use karishu ..apde tick(✔️) na symbol no use karishu  */
/*  aa ::before and ::after ne sudeo Selectoer(sudo) kahe che  */
.check input:checked::before {
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size:1.05rem;
    font-weight: 600;
    left:50%;
    top:-3.5px;
    transform: translateX(-50%)  translateY(40%);
}

.check label {
    color: var(--pl-darkgolden);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.copyBtn{
    background-color: transparent;
    cursor: pointer;
    border:none;
    outline:none;
    
}

.tooltip {
    position: absolute;
    background-color: var(--vb-violet2);
    color: var(--vb-yellow);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
  }
  
  .tooltip.active {
    opacity: 1;
    transform: scale(1);
  }


.slider{
    appearance: none;
    width:100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: var( --lt-Yellow-orange);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--vb-violet), var(--vb-violet));
    background-repeat: no-repeat;
    border:none;
    outline:none;
    z-index:-1;
}


/* Slider na thumb ne Style apiye ....ten mate apde sudeo(SUDO)element selector no use kariyo  */
/* GOOGLE CROME MA 'webkit' JS ENgine chale che mate tema aa thumb sari rite avshe apde FIRE-FOX mate bijo THUM use karishu kem k tema bijo JS ENGIE chale che  */
.slider::-webkit-slider-thumb {
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--vb-yellow);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    transition: all 100ms ease-in;
}

/* jyare click kariye ne tyare akha Slider ni outline no color yellow thay che  */
.slider:focus{
    outline: 3px solid var(--vb-yellow);
}

.slider::-webkit-slider-thumb:hover{
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
}


/* FIRE-FOX mate Thumb no code */
/* .slider::-moz-range-thumb {
    position: relative;
    z-index: 1;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--vb-yellow);
    box-shadow: 0px 0px 20px 0px rgba(255, 229, 61, 0.50);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb:hover {
    outline: 2px solid var(--vb-yellow);
    background-color: var(--dk-violet);
    box-shadow: 0px 0px 25px 5px rgba(255, 229, 61, 0.80);
  } */